<!-- -->
<launch>

    <arg name="record_cameras" default="false" />
    <!--node name="img_throttler" type="throttle" pkg="topic_tools" args="messages /camera/color/image_raw/compressed 10 /camera/color/image_throttle/compressed" /-->

    <node pkg="rosbag" type="record" name="rosbag" 
    args="record -o /home/glab/

/bluetooth_teleop/cmd_vel
/bluetooth_teleop/joy
/bluetooth_teleop/joy/set_feedback
/clicked_point
/clock
/cmd_vel
/diagnostics
/e_stop
/front/scan
/gazebo/link_states
/gazebo/model_states
/gazebo/parameter_descriptions
/gazebo/parameter_updates
/gazebo/performance_metrics
/gazebo/set_link_state
/gazebo/set_model_state
/imu/data
/imu/data/accel/parameter_descriptions
/imu/data/accel/parameter_updates
/imu/data/bias
/imu/data/rate/parameter_descriptions
/imu/data/rate/parameter_updates
/imu/data/yaw/parameter_descriptions
/imu/data/yaw/parameter_updates
/initialpose
/jackal_velocity_controller/cmd_vel
/jackal_velocity_controller/cmd_vel_out
/jackal_velocity_controller/odom
/jackal_velocity_controller/parameter_descriptions
/jackal_velocity_controller/parameter_updates
/joint_states
/joy_teleop/cmd_vel
/map
/map_metadata
/map_updates
/move_base/NavfnROS/plan
/move_base/TebLocalPlannerROS/arrow_markers
/move_base/TebLocalPlannerROS/close_obstacle
/move_base/TebLocalPlannerROS/footprint_markers
/move_base/TebLocalPlannerROS/footprintmodel_markers
/move_base/TebLocalPlannerROS/gap_marker
/move_base/TebLocalPlannerROS/global_plan
/move_base/TebLocalPlannerROS/grid_path_marker
/move_base/TebLocalPlannerROS/infeasiblefootprint_markers
/move_base/TebLocalPlannerROS/infeasiblefootprintmodel_markers
/move_base/TebLocalPlannerROS/local_plan
/move_base/TebLocalPlannerROS/obstacles
/move_base/TebLocalPlannerROS/parameter_descriptions
/move_base/TebLocalPlannerROS/parameter_updates
/move_base/TebLocalPlannerROS/point_markers
/move_base/TebLocalPlannerROS/teb_feedback
/move_base/TebLocalPlannerROS/teb_markers
/move_base/TebLocalPlannerROS/teb_poses
/move_base/TebLocalPlannerROS/via_point_marker
/move_base/TebLocalPlannerROS/via_points
/move_base/TebLocalPlannerROS/visualization_marker
/move_base/cancel
/move_base/current_goal
/move_base/feedback
/move_base/global_costmap/costmap
/move_base/global_costmap/costmap_updates
/move_base/global_costmap/footprint
/move_base/global_costmap/inflater_layer/parameter_descriptions
/move_base/global_costmap/inflater_layer/parameter_updates
/move_base/global_costmap/obstacles_layer/parameter_descriptions
/move_base/global_costmap/obstacles_layer/parameter_updates
/move_base/global_costmap/parameter_descriptions
/move_base/global_costmap/parameter_updates
/move_base/global_costmap/static_layer/parameter_descriptions
/move_base/global_costmap/static_layer/parameter_updates
/move_base/goal
/move_base/local_costmap/costmap
/move_base/local_costmap/costmap_updates
/move_base/local_costmap/footprint
/move_base/local_costmap/obstacles_layer/parameter_descriptions
/move_base/local_costmap/obstacles_layer/parameter_updates
/move_base/local_costmap/parameter_descriptions
/move_base/local_costmap/parameter_updates
/move_base/local_costmap/static_layer/parameter_descriptions
/move_base/local_costmap/static_layer/parameter_updates
/move_base/parameter_descriptions
/move_base/parameter_updates
/move_base/recovery_status
/move_base/result
/move_base/status
/move_base_simple/goal
/navsat/fix
/navsat/fix/position/parameter_descriptions
/navsat/fix/position/parameter_updates
/navsat/fix/status/parameter_descriptions
/navsat/fix/status/parameter_updates
/navsat/fix/velocity/parameter_descriptions
/navsat/fix/velocity/parameter_updates
/navsat/vel
/odometry/filtered
/rosout
/rosout_agg
/set_pose
/tf
/tf_static
/twist_marker_server/cmd_vel
/twist_marker_server/feedback
/twist_marker_server/update
/twist_marker_server/update_full


    "
    />


</launch>
